<div id="<%= dom_id tx %>">
  <p>
    <strong>Author:</strong>
    <%= tx.author_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= tx.name %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= tx.amount %>
  </p>

  <p>
    <strong>User:</strong>
    <%= tx.user_id %>
  </p>

  <p>
    <strong>Commodity:</strong>
    <%= tx.commodity_id %>
  </p>

</div>
