<section class='transaction-section'>
<p style="color: green"><%= notice %></p>
  <div class='header'>
    <div class='back-arrow'>
      <%= link_to 'â†', commodities_path %>
    </div>
    <div>
      <h1>Transactions</h1>     
    </div>
    <div class='search-section'>
      <%= image_tag ("search2.png"), class:'search-image' %>
    </div>
  </div>  
  <div class="transactions">
      <% if @txes.length == 0 %>
         <p>There are no transactions</p>
         <% else %>
         <div class='transaction-cards'>
      <% @txes.each do |tx| %>
          <div class='transaction-card'>
            <div></div>
            <div class='transaction-details'>
              <div><p><%= tx.name %></p></div>
              <div><p><%= tx.name %></p></div>
              <div><p><%= tx.created_at.strftime("%d %b %Y") %></p></div>
            </div>
          </div>
        <% end %>
      </div>
        <% end %>
    <div class='green-button-section'>
      <%= link_to "New Transaction", new_tx_path, class:'new-category-button' %>
    </div>
  </div>
  </section>